/* Import font-face */
@import url("https://use.typekit.net/nkj5yba.css");
@import url("https://fonts.googleapis.com/css?family=Mukta");
/* Variables */
/* Body */
body {
  background-color: #f7f7f7;
  font-family: "dinosaur", san-serif;
  color: #545454; }
  body *, body *:focus {
    outline: none !important; }
  body .main {
    background-color: #f7f7f7; }
    body .main section,
    body .main aside {
      margin: 3rem 0; }

a {
  cursor: pointer;
  color: #e10098; }

a.email-link,
a.email-link:hover,
a.email-link:visited {
  color: #545454; }

a:hover {
  text-decoration: none;
  color: #e10098; }

p {
  font-family: "Mukta", san-serif;
  font-size: 16px;
  margin-bottom: 0; }
  p strong {
    font-weight: 500; }

ul {
  font-family: "Mukta", san-serif; }
  ul li {
    padding: 0; }

/* Pagination */
nav[aria-label='Page navigation'] {
  margin: 2rem 0; }
  nav[aria-label='Page navigation'] ul.pagination li.active span {
    background-color: #e10098;
    border-color: #e10098; }

/* Webcomic Reader Navbar */
.translate-up {
  transform: translateY(-80px);
  transition: 0.5s; }

.translate-down {
  transform: translateY(80px);
  transition: 0.5s; }

/* Headings */
h1,
h2 {
  font-family: "dinosaur", san-serif;
  text-transform: uppercase;
  color: #002677;
  margin-bottom: 1rem;
  font-style: normal; }

h3,
h4,
h6 {
  font-family: "dinosaur", san-serif;
  text-transform: uppercase;
  color: #002677;
  margin-bottom: 1rem;
  font-style: normal; }

h1 {
  font-size: 30px;
  font-style: normal; }

h2 {
  font-size: 24px;
  font-style: normal; }

h3 {
  font-size: 22px;
  font-style: normal; }

h4 {
  font-size: 18px;
  font-style: normal; }

h5 {
  font-family: "dinosaur", san-serif;
  font-weight: bold;
  text-transform: none;
  color: #002677;
  margin-bottom: 1rem; }

p {
  word-wrap: break-word; }

/* Section */
section {
  margin: 2rem 0; }
  section .section-title {
    margin-top: 1rem; }
    section .section-title h1 {
      color: #002677; }

section.border-top {
  border-top: 1px solid #e5e5e5; }

/* 100pct width */
.w-100 {
  width: 100%; }

/* Webcomic Single Page */
.sidebar {
  border-left: 1px solid #e5e5e5;
  padding: 0 0 0 1rem; }

/* Share Buttons On Single Post Pages */
.share-buttons {
  background: none;
  border: 0; }
  .share-buttons ul {
    list-style-type: none;
    padding-left: 0; }
  .share-buttons ul li {
    width: 40px;
    height: 40px;
    text-align: center; }
    .share-buttons ul li a {
      color: #e10098;
      font-size: 16px;
      margin: auto; }
      .share-buttons ul li a:hover {
        color: #e10098; }
  .share-buttons.share-buttons--fix {
    position: sticky;
    top: 110px;
    z-index: 2;
    transition: ease-out; }

/* Home Carousel */
section.section-carousel {
  margin-top: 2rem;
  border: 0; }
  section.section-carousel .home-carousel .carousel-indicators {
    position: relative;
    bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  section.section-carousel .home-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #f7f7f7;
    border: 1px solid #002677;
    border-radius: 100%;
    cursor: pointer; }
  section.section-carousel .home-carousel .carousel-indicators li.active {
    background-color: #002677;
    border: 1px solid #002677; }
  section.section-carousel .home-carousel .carousel-bottom {
    background-color: #e10098;
    height: 52px;
    overflow: hidden; }
    section.section-carousel .home-carousel .carousel-bottom .carousel-control {
      margin: 0.8rem 0; }
    section.section-carousel .home-carousel .carousel-bottom .carousel-control-icon {
      color: white;
      font-size: 20px; }
    section.section-carousel .home-carousel .carousel-bottom .carousel-title {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem; }
      section.section-carousel .home-carousel .carousel-bottom .carousel-title a {
        font-family: "dinosaur", san-serif;
        color: white;
        font-size: 24px;
        text-transform: uppercase; }

/* Navbar */
/* Social & Search Bar */
header.main-header {
  background-color: #f7f7f7;
  color: #e10098; }
  header.main-header .list-inline {
    margin-bottom: 0;
    margin-right: 0; }
  header.main-header .subnav-links,
  header.main-header .subnav-links a {
    color: #e10098;
    padding: 0.5rem 0;
    text-align: right; }

/* Naigation Menu */
.navbar-wrapper {
  background-color: #f7f7f7;
  margin-bottom: 25px; }
  .navbar-wrapper .navbar-desktop {
    padding: 0; }
    .navbar-wrapper .navbar-desktop div {
      padding: 0; }
    .navbar-wrapper .navbar-desktop .navbar-brand img {
      max-height: 70px; }
    .navbar-wrapper .navbar-desktop .navbar-nav {
      height: 73px;
      width: 100%;
      margin-top: auto;
      margin-bottom: auto; }
      .navbar-wrapper .navbar-desktop .navbar-nav .nav-item {
        margin-top: auto;
        margin-bottom: auto;
        height: 65px; }
        .navbar-wrapper .navbar-desktop .navbar-nav .nav-item a {
          font-size: 14px;
          color: #002677;
          font-family: "dinosaur", san-serif;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 0.9rem 1.5rem 0.5rem 1.5rem;
          height: 65px; }
        .navbar-wrapper .navbar-desktop .navbar-nav .nav-item a:hover {
          padding-top: 0.9rem;
          color: #e10098;
          background-image: url(../images/MenuFrame.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center -5px;
          overflow: visible;
          height: 65px; }
      .navbar-wrapper .navbar-desktop .navbar-nav .active > .nav-link, .navbar-wrapper .navbar-desktop .navbar-nav .show > .nav-link, .navbar-wrapper .navbar-desktop .navbar-nav .nav-link:focus {
        padding-top: 0.9rem;
        color: #e10098;
        background-image: url("../images/MenuFrame.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center -5px;
        overflow: visible;
        height: 65px; }
      .navbar-wrapper .navbar-desktop .navbar-nav .dropdown-menu {
        background-color: #72c7e7;
        border: 0;
        border-radius: 0;
        margin: 0; }
  .navbar-wrapper.sticky {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: #f7f7f7;
    display: none; }
    .navbar-wrapper.sticky .container {
      padding-left: 0;
      padding-right: 0; }
    .navbar-wrapper.sticky .navbar .navbar-brand img {
      max-height: 70px;
      padding: 0.3rem 0; }
    .navbar-wrapper.sticky .navbar .navbar-brand .sticky-logo {
      display: inline-block !important; }
  .navbar-wrapper .navbar-mobile {
    padding: 0; }
    .navbar-wrapper .navbar-mobile div {
      padding: 0; }
    .navbar-wrapper .navbar-mobile .navbar-brand img {
      max-height: 70px;
      padding: 0.3rem 0; }
    .navbar-wrapper .navbar-mobile .mobile-search {
      margin-top: 1rem; }
    .navbar-wrapper .navbar-mobile .hamburger {
      background-color: #f7f7f7;
      display: inline-block;
      cursor: pointer;
      border: 0;
      margin: 0; }
      .navbar-wrapper .navbar-mobile .hamburger .hamburger-box {
        width: 30px;
        height: 20px;
        display: inline-block;
        position: relative; }
      .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner {
        display: block;
        top: 50%; }
        .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner, .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner:before, .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner:after {
          position: absolute;
          background-color: #002677;
          width: 30px;
          height: 5px;
          border-radius: 1rem; }
        .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner:before, .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner:after {
          content: "";
          display: block; }
        .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner:before {
          top: -10px; }
        .navbar-wrapper .navbar-mobile .hamburger .hamburger-inner:after {
          bottom: -10px; }
    .navbar-wrapper .navbar-mobile .hamburger--spin .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .navbar-wrapper .navbar-mobile .hamburger--spin .hamburger-inner:before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
      .navbar-wrapper .navbar-mobile .hamburger--spin .hamburger-inner:after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .navbar-wrapper .navbar-mobile .hamburger--spin.is-active .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .navbar-wrapper .navbar-mobile .hamburger--spin.is-active .hamburger-inner:before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
      .navbar-wrapper .navbar-mobile .hamburger--spin.is-active .hamburger-inner:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .navbar-wrapper .navbar-mobile .navbar-collapse {
      height: 100vh; }
    .navbar-wrapper .navbar-mobile .navbar-nav {
      width: 100%;
      background-color: #f7f7f7;
      margin-top: .5rem;
      margin-bottom: auto;
      padding: 0;
      border-top: 1px solid #e5e5e5; }
      .navbar-wrapper .navbar-mobile .navbar-nav .nav-item {
        -webkit-box-flex: 0;
        flex: 0;
        text-align: left; }
        .navbar-wrapper .navbar-mobile .navbar-nav .nav-item a {
          font-size: 14px;
          color: #002677;
          font-family: "dinosaur", san-serif;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 0.9rem 0 0.5rem 0R; }
        .navbar-wrapper .navbar-mobile .navbar-nav .nav-item a:hover {
          color: #e10098; }
      .navbar-wrapper .navbar-mobile .navbar-nav .active > .nav-link, .navbar-wrapper .navbar-mobile .navbar-nav .show > .nav-link, .navbar-wrapper .navbar-mobile .navbar-nav .nav-link:focus {
        color: #e10098; }
    .navbar-wrapper .navbar-mobile .mobile-social-url {
      margin-top: .5rem;
      border-top: 1px solid #e5e5e5; }
      .navbar-wrapper .navbar-mobile .mobile-social-url ul {
        margin: .5rem 0; }
      .navbar-wrapper .navbar-mobile .mobile-social-url li:not(:first-child) {
        margin: 0 1rem; }

.navbar-wrapper.sticky .navbar-mobile {
  padding-left: 1rem;
  padding-right: 2.7rem; }

/* Input Forms & Button */
/* Input */
input,
textarea,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
input.form-control,
textarea.form-control,
input.form-control:hover,
input.form-control:focus,
textarea.form-control:hover,
textarea.form-control:focus {
  background: transparent !important;
  border: 0;
  border-bottom: 2px solid #e10098 !important;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin: .5rem 0;
  outline: 0;
  box-shadow: none !important; }

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #545454;
  font-family: "Mukta", san-serif;
  font-size: 16px; }

.form-check {
  margin: 1rem 0; }

button.btn {
  font-family: "dinosaur", san-serif;
  font-weight: normal;
  font-size: 14px;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
  color: #e10098;
  background-color: #f7f7f7;
  padding: 0.5rem 2rem;
  margin: .5rem 0;
  border: 1px solid #e10098;
  border-radius: 0;
  overflow: visible;
  outline: none; }
  button.btn:focus {
    outline: none;
    box-shadow: none; }
  button.btn:after {
    content: '';
    color: #e10098;
    position: absolute;
    height: 105%;
    width: 100%;
    border: 0;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-style: solid;
    top: 3px;
    right: -5px; }

.btn-animated {
  color: #f7f7f7;
  transition-property: color;
  transition-duration: 0.5s; }
  .btn-animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e10098;
    color: #f7f7f7;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1; }
  .btn-animated:hover {
    color: #f7f7f7; }
    .btn-animated:hover:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

button.btn-search {
  font-family: "Mukta", san-serif;
  font-weight: normal;
  font-size: 16px;
  color: #e10098;
  background-color: #f7f7f7;
  padding: 0.2rem 2rem 0.2rem 0.5rem;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  outline: none; }

input.input-search {
  border-bottom: 2px solid transparent !important;
  outline: none;
  text-align: right; }

input.input-search,
input.input-search:focus {
  color: #e10098;
  font-family: "dinosaur", san-serif;
  border: 0;
  border-bottom: 2px solid #e10098; }

input.input-search::placeholder {
  color: #e10098;
  font-family: "dinosaur", san-serif;
  text-transform: uppercase;
  text-align: right; }

.mobile-search input {
  width: 100% !important; }

.mobile-search input::placeholder {
  text-align: left; }

button.sort-button {
  border: 1px solid #C4C4C4;
  color: #545454; }
  button.sort-button:after {
    content: none; }
  button.sort-button:hover {
    border: 1px solid #e10098;
    color: #545454; }

.dropdown-menu {
  background: #f7f7f7;
  border: 1px solid #C4C4C4;
  border-radius: 0;
  color: #e10098;
  padding: 0;
  font-size: 16px;
  z-index: 6; }
  .dropdown-menu .dropdown-item {
    color: #e10098;
    padding: 0.75rem 1.5rem; }
    .dropdown-menu .dropdown-item:hover {
      color: #fff;
      background: #e10098; }

/* Web Comics */
/* Webcomics Section */
section.section-webcomics p {
  margin-bottom: 1rem; }

section.section-webcomics .webcomics-card {
  margin: 20px 0; }

section.section-webcomics .webcomics-read-all {
  font-family: "dinosaur", san-serif;
  margin-top: 1rem; }
  section.section-webcomics .webcomics-read-all a i {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  section.section-webcomics .webcomics-read-all a:hover i {
    position: relative;
    transform: translateX(6px);
    -webkit-transform: translateX(6px); }

section.section-webcomics .webcomics-image {
  position: relative;
  height: 200px;
  overflow: visible;
  margin-bottom: 20px; }

section.section-webcomics .webcomics-image:after {
  content: '';
  color: #e10098;
  position: absolute;
  height: 104%;
  width: 80%;
  border: 0;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  top: 0;
  right: -8px; }

section.section-webcomics .webcomics-cover {
  width: 100%;
  height: 200px;
  object-fit: cover; }

section.section-webcomics .webcomics-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /*z-index: 5; */ }

section.section-webcomics .webcomics-image-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: url("../images/DottedOverlay.svg");
  opacity: 0; }

section.section-webcomics .webcomics-image-hover:hover {
  opacity: 0.5;
  transition: 0.5s ease; }

section.section-webcomics .webcomics-body .webcomics-title a {
  color: #002677; }

section.section-webcomics .webcomics-body .webcomics-text {
  font-family: "Mukta", san-serif;
  font-size: 16px; }

section.section-webcomics .webcomics-body .webcomics-read a {
  font-family: "dinosaur", san-serif;
  color: #e10098; }
  section.section-webcomics .webcomics-body .webcomics-read a i {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

section.section-webcomics .webcomics-body .webcomics-read a:hover i {
  position: relative;
  transform: translateX(6px);
  -webkit-transform: translateX(6px); }

/* Single Webcomic */
.webcomic-banner-cover {
  height: 10em;
  width: 100%;
  overflow: hidden; }
  .webcomic-banner-cover .webcomic-banner-image {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%; }

section.section-webcomic-single p {
  margin-bottom: 1rem; }

.webcomic-chapters-wrapper p {
  margin-bottom: 1rem; }

.webcomic-chapters-wrapper .webcomic-chapter:first-child {
  border-top: 1px solid #e5e5e5; }

.webcomic-chapters-wrapper .webcomic-chapter {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }
  .webcomic-chapters-wrapper .webcomic-chapter .chapter-cover {
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .webcomic-chapters-wrapper .webcomic-chapter .chapter-image {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .webcomic-chapters-wrapper .webcomic-chapter .chapter-body {
    padding-left: 1rem;
    padding-top: 1rem; }
    .webcomic-chapters-wrapper .webcomic-chapter .chapter-body .webcomic-title .chapter-no {
      color: #545454;
      font-family: "Mukta", san-serif;
      font-size: 16px; }
    .webcomic-chapters-wrapper .webcomic-chapter .chapter-body .webcomic-title .chapter-title {
      font-size: 18px; }
    .webcomic-chapters-wrapper .webcomic-chapter .chapter-body .chapter-read {
      font-family: "dinosaur", san-serif;
      margin-top: 1.1rem; }
      .webcomic-chapters-wrapper .webcomic-chapter .chapter-body .chapter-read a i {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .webcomic-chapters-wrapper .webcomic-chapter .chapter-body .chapter-read a:hover i {
        position: relative;
        transform: translateX(6px);
        -webkit-transform: translateX(6px); }

/* Breakpoint SM */
@media (max-width: 991px) {
  /* Single Webcomic */
  .webcomic-chapters-wrapper .webcomic-chapter .chapter-body {
    padding-left: 0; } }

/* Webcomics Chapter */
/* Webcomic Chapter Header */
body.webcomic-chapter-read {
  background-color: white; }
  body.webcomic-chapter-read .container-fluid:first-child {
    padding: 0; }

.webcomic-chapter-header-web,
.webcomic-chapter-header-mobile {
  color: #002677;
  z-index: 3;
  background-color: #f7f7f7; }

.webcomic-chapter-header-web .header-logo {
  height: 55px;
  padding: 5px;
  margin-top: .45rem; }

.webcomic-chapter-header-web .chapter-title {
  margin-top: 1.5rem; }

.webcomic-chapter-header-web .pagination {
  margin-top: 1rem; }
  .webcomic-chapter-header-web .pagination button.chapter-no {
    background-color: #f7f7f7;
    color: #002677;
    padding: 0 2rem;
    border: 0;
    border-radius: 0;
    overflow: visible;
    outline: none;
    cursor: pointer; }
    .webcomic-chapter-header-web .pagination button.chapter-no:focus {
      outline: none;
      box-shadow: none; }
  .webcomic-chapter-header-web .pagination .chapter-pg {
    position: relative;
    display: inline-block;
    padding: .45rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: transparent;
    border: 0; }
  .webcomic-chapter-header-web .pagination .page-link {
    background-color: transparent;
    color: #B2B2B2;
    border: 0; }
    .webcomic-chapter-header-web .pagination .page-link:focus, .webcomic-chapter-header-web .pagination .page-link:hover {
      color: #e10098; }
  .webcomic-chapter-header-web .pagination .page-item.disabled .page-link {
    color: #e5e5e5; }

.webcomic-chapter-header-mobile a.homeLink {
  color: #B2B2B2; }

.webcomic-chapter-header-mobile [class*=col-] {
  padding-top: 1rem; }

.webcomic-chapter-header-mobile button.chapter-no {
  background-color: #f7f7f7;
  color: #002677;
  padding: 0 2rem;
  border: 0;
  border-radius: 0;
  overflow: visible;
  outline: none;
  cursor: pointer; }
  .webcomic-chapter-header-mobile button.chapter-no:focus {
    outline: none;
    box-shadow: none; }

section.section-webcomic-content {
  margin: 0;
  border: 0; }
  section.section-webcomic-content .webcomic-share {
    margin: 3rem 0; }

.webcomic-chapter-bar-top,
.webcomic-chapter-bar-bottom {
  background: #f7f7f7;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0; }
  .webcomic-chapter-bar-top a,
  .webcomic-chapter-bar-bottom a {
    color: #545454; }
  .webcomic-chapter-bar-top .toggle-bar,
  .webcomic-chapter-bar-bottom .toggle-bar {
    background-color: white; }
    .webcomic-chapter-bar-top .toggle-bar .toggle-button,
    .webcomic-chapter-bar-bottom .toggle-bar .toggle-button {
      background-color: #f7f7f7;
      color: #B2B2B2;
      padding: 0 2rem;
      border: 0;
      border-radius: 0;
      overflow: visible;
      outline: none;
      cursor: pointer; }
      .webcomic-chapter-bar-top .toggle-bar .toggle-button:focus,
      .webcomic-chapter-bar-bottom .toggle-bar .toggle-button:focus {
        outline: none;
        box-shadow: none; }
  .webcomic-chapter-bar-top .carousel-inner .carousel-item.active,
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-next,
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-prev,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item.active,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-next,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-prev {
    display: flex; }
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-right.active,
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-next,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-right.active,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-next {
    transform: translateX(0%); }
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-left.active,
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-prev,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-left.active,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-prev {
    transform: translateX(0%); }
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-right,
  .webcomic-chapter-bar-top .carousel-inner .carousel-item-left,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-right,
  .webcomic-chapter-bar-bottom .carousel-inner .carousel-item-left {
    transform: translateX(0); }
  .webcomic-chapter-bar-top .carousel-control,
  .webcomic-chapter-bar-bottom .carousel-control {
    margin: 4rem 0; }
  .webcomic-chapter-bar-top .carousel-control-icon,
  .webcomic-chapter-bar-bottom .carousel-control-icon {
    color: #545454;
    font-size: 20px; }
  .webcomic-chapter-bar-top .chapter-card,
  .webcomic-chapter-bar-bottom .chapter-card {
    padding-top: 1.5rem;
    padding-bottom: 1rem; }
    .webcomic-chapter-bar-top .chapter-card .chapter-cover,
    .webcomic-chapter-bar-bottom .chapter-card .chapter-cover {
      height: 100%;
      width: 100%;
      overflow: hidden; }
    .webcomic-chapter-bar-top .chapter-card .chapter-image,
    .webcomic-chapter-bar-bottom .chapter-card .chapter-image {
      object-fit: cover;
      object-position: left;
      width: 100%;
      height: 100%; }
    .webcomic-chapter-bar-top .chapter-card .chapter-body,
    .webcomic-chapter-bar-bottom .chapter-card .chapter-body {
      padding-left: 1rem;
      padding-top: 1rem; }
      .webcomic-chapter-bar-top .chapter-card .chapter-body .webcomic-title .chapter-no,
      .webcomic-chapter-bar-bottom .chapter-card .chapter-body .webcomic-title .chapter-no {
        font-family: "Mukta", san-serif;
        font-size: 16px;
        margin-bottom: .5rem; }
      .webcomic-chapter-bar-top .chapter-card .chapter-body .webcomic-title .chapter-title,
      .webcomic-chapter-bar-bottom .chapter-card .chapter-body .webcomic-title .chapter-title {
        font-size: 18px; }
  .webcomic-chapter-bar-top .chapter-card.active .chapter-image,
  .webcomic-chapter-bar-bottom .chapter-card.active .chapter-image {
    border: 2px solid #e10098; }
  .webcomic-chapter-bar-top .chapter-card.active .chapter-body .webcomic-title .chapter-no,
  .webcomic-chapter-bar-bottom .chapter-card.active .chapter-body .webcomic-title .chapter-no {
    color: #e10098; }
  .webcomic-chapter-bar-top .chapter-card.active .chapter-body .webcomic-title .chapter-title,
  .webcomic-chapter-bar-bottom .chapter-card.active .chapter-body .webcomic-title .chapter-title {
    color: #e10098; }

/* Blog */
/* Blog Section */
section.section-blog p {
  margin-bottom: 1rem; }

section.section-blog .blog-carousel {
  margin: 20px 0;
  overflow: hidden; }

section.section-blog .carousel-indicators {
  position: absolute;
  right: 0;
  margin-bottom: 0;
  bottom: 0;
  left: 12px;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-right: 0;
  margin-left: 0; }

section.section-blog .blog-carousel-control {
  position: absolute;
  top: 0;
  bottom: 100px;
  width: 15%;
  color: #e10098;
  opacity: 1; }

section.section-blog .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #f7f7f7;
  border: 1px solid #002677;
  border-radius: 100%;
  cursor: pointer; }

section.section-blog .carousel-indicators li.active {
  background-color: #002677;
  border: 1px solid #002677; }

section.section-blog .blog-read-all {
  margin-top: 1rem;
  font-family: "dinosaur", san-serif; }
  section.section-blog .blog-read-all a i {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  section.section-blog .blog-read-all a:hover i {
    position: relative;
    transform: translateX(6px);
    -webkit-transform: translateX(6px); }

section.section-blog .blog-card-big {
  /* css changes for 7:5 ratio images */ }
  section.section-blog .blog-card-big .blog-image {
    position: relative;
    height: 400px;
    overflow: visible;
    margin-bottom: 20px; }
  section.section-blog .blog-card-big .blog-cover {
    width: 100%;
    height: 400px;
    object-fit: cover; }
  section.section-blog .blog-card-big .blog-image-hover:hover {
    transition: 1s ease; }
  section.section-blog .blog-card-big .blog-image-75 {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 71.43% 0 0 0; }
  section.section-blog .blog-card-big .blog-cover-75 {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  section.section-blog .blog-card-big .blog-image-75:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url("../images/DottedOverlay.svg"); }
  section.section-blog .blog-card-big .blog-image-75:hover:after {
    opacity: 0.5;
    transition: 0.5s ease; }
  section.section-blog .blog-card-big .blog-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 5; }

section.section-blog .blog-card {
  margin: 2rem 0;
  /* css changes for 7:5 ratio images */ }
  section.section-blog .blog-card .blog-image {
    position: relative;
    height: 200px;
    overflow: visible;
    margin-bottom: 20px; }
  section.section-blog .blog-card .blog-image-75::before {
    content: '';
    color: #e10098;
    position: absolute;
    height: 103%;
    width: 80%;
    border: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    top: 0px;
    right: -8px; }
  section.section-blog .blog-card .blog-cover {
    width: 100%;
    height: 200px;
    object-fit: cover; }
  section.section-blog .blog-card .blog-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 5; }
  section.section-blog .blog-card .blog-image-hover:hover {
    transition: 1s ease; }
  section.section-blog .blog-card .blog-image-75 {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 71.43% 0 0 0;
    margin-bottom: 0.75rem; }
  section.section-blog .blog-card .blog-cover-75 {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  section.section-blog .blog-card .blog-image-75:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url("../images/DottedOverlay.svg"); }
  section.section-blog .blog-card .blog-image-75:hover:after {
    opacity: 0.5;
    transition: 0.5s ease; }

section.section-blog .blog-body .blog-date {
  font-family: "Mukta", san-serif; }

section.section-blog .blog-body .blog-title a {
  color: #002677; }

section.section-blog .blog-body .blog-text {
  font-family: "Mukta", san-serif;
  font-size: 16px; }

section.section-blog .blog-body .blog-read a {
  font-family: "dinosaur", san-serif;
  color: #e10098; }
  section.section-blog .blog-body .blog-read a i {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

section.section-blog .blog-body .blog-read a:hover i {
  position: relative;
  transform: translateX(6px);
  -webkit-transform: translateX(6px); }

/* Single BLog Section */
section.section-blog-single {
  border: 0;
  padding: 0 1.5rem; }
  section.section-blog-single .post-heading {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  section.section-blog-single p {
    font-family: "Mukta", san-serif;
    margin-bottom: 1rem; }

.featured-blog-image {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 40% 0 0 0;
  overflow: hidden; }

.featured-blog-cover {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media (max-width: 991px) {
  section.section-blog .blog-carousel .carousel-item {
    min-height: 540px; }
  section.section-blog .carousel-indicators {
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* For Educators */
/* For Educators Section */
section.section-for-educators p {
  margin-bottom: 1rem; }

section.section-for-educators .for-educators-card {
  margin: 20px 0; }

section.section-for-educators .for-educators-read-all {
  margin-top: 1rem;
  font-family: "dinosaur", san-serif; }
  section.section-for-educators .for-educators-read-all a i {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  section.section-for-educators .for-educators-read-all a:hover i {
    position: relative;
    transform: translateX(6px);
    -webkit-transform: translateX(6px); }

section.section-for-educators .for-educators-image {
  position: relative;
  height: 200px;
  overflow: visible;
  margin-bottom: 20px; }

section.section-for-educators .for-educators-image:after {
  content: '';
  color: #e10098;
  position: absolute;
  height: 103%;
  width: 80%;
  border: 0;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  top: 0;
  right: -8px; }

section.section-for-educators .for-educators-cover {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

section.section-for-educators .for-educators-image {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 71.43% 0 0 0;
  overflow: visible; }

section.section-for-educators .for-educators-image-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: url("../images/DottedOverlay.svg");
  opacity: 0; }

section.section-for-educators .for-educators-image-hover:hover {
  opacity: 0.5;
  transition: 0.5s ease; }

section.section-for-educators .for-educators-body .for-educators-title a,
section.section-for-educators .for-educators-body .for-educators-title a:hover,
section.section-for-educators .for-educators-body .for-educators-title a:visited {
  color: #002677; }

section.section-for-educators .for-educators-body .for-educators-text {
  font-family: "Mukta", san-serif;
  font-size: 16px; }

section.section-for-educators .for-educators-body .for-educators-read a {
  color: #e10098;
  font-family: "dinosaur", san-serif; }

section.section-for-educators-single {
  border: 0;
  padding: 0 1.5rem; }
  section.section-for-educators-single .post-heading {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  section.section-for-educators-single p {
    font-family: "Mukta", san-serif;
    margin-bottom: 1rem; }

/* About Page */
.custom-area {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.behind-the-team {
  margin-bottom: 3rem; }
  .behind-the-team .team-card {
    margin-bottom: 1rem;
    padding-right: 1rem; }
    .behind-the-team .team-card .team-role {
      color: #002677; }
    .behind-the-team .team-card .team-image {
      position: relative;
      height: 200px;
      width: 200px;
      overflow: visible;
      margin-bottom: 2rem; }
      .behind-the-team .team-card .team-image:after {
        content: '';
        color: #e10098;
        position: absolute;
        height: 104%;
        width: 80%;
        border: 0;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-style: solid;
        top: 0;
        right: -8px; }
      .behind-the-team .team-card .team-image .team-cover {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        visibility: visible;
        opacity: 1;
        z-index: 2; }
      .behind-the-team .team-card .team-image .team-cover-hover {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%; }
    .behind-the-team .team-card .team-image:hover .team-cover {
      opacity: 0; }

/* Footer */
/* Footer */
.footer {
  margin-top: 3rem; }
  .footer .footer-text p {
    font-family: "Mukta", san-serif;
    margin-bottom: 1rem; }
  .footer .footer-copyright {
    margin: 2rem 0; }
    .footer .footer-copyright p {
      font-family: "Mukta", san-serif;
      font-size: 14px; }

/* Return to top button */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background: #e10098;
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  bottom: 30px; }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Subscribe Contact Form */
div.wpcf7-response-output {
  margin: 2rem 0;
  padding: 0;
  border: 0; }

/* Contact Us Page */
section.section-contact {
  font-family: "Mukta", san-serif; }
  section.section-contact .contact-item i {
    color: #e10098; }
  section.section-contact .contact-us-social {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
    section.section-contact .contact-us-social .contact-us-social-body {
      margin-top: 1rem;
      margin-bottom: 1rem; }

/* Related Post */
section.related-post {
  border-top: 1px solid #e5e5e5;
  margin: 3rem 0; }
  section.related-post .row {
    margin-top: 1rem; }
  section.related-post .related-post-card .related-post-image {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 71.43% 0 0 0;
    overflow: visible;
    margin-bottom: 20px; }
  section.related-post .related-post-card .related-post-image:after {
    content: '';
    color: #e10098;
    position: absolute;
    height: 103%;
    width: 80%;
    border: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    top: 0;
    right: -8px; }
  section.related-post .related-post-card .related-post-cover {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  section.related-post .related-post-card .related-post-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5; }
  section.related-post .related-post-card .related-post-image-hover:hover {
    background: url("../images/DottedOverlay.svg");
    transition: 1s ease; }
  section.related-post .related-post-card .related-post-title a,
  section.related-post .related-post-card .related-post-title a:hover,
  section.related-post .related-post-card .related-post-title a:visited {
    color: #002677; }

/* Font Awesome */
.fa-stack-1x {
  font-size: smaller; }

/* Responsive Breakpoints */
@media (max-width: 991px) {
  /* Webcomic Single Page */
  .sidebar {
    border-left: 0;
    padding: 0; } }

/*
 * Restore Bootstrap 3 "hidden" utility classes.
*/
/* Breakpoint XS */
@media (max-width: 575px) {
  .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
    display: none !important; } }

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up,
  .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
    display: none !important; } }

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl {
    display: none !important; } }

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl {
    display: none !important; } }

/* Breakpoint XL */
@media (min-width: 1200px) {
  .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg {
    display: none !important; } }
