/* Import font-face */

@import url('https://use.typekit.net/nkj5yba.css');
@import url('https://fonts.googleapis.com/css?family=Mukta');

/* Variables */

$dinosaur: 'dinosaur', san-serif;
$mukta: 'Mukta', san-serif;

$font-light: 300;
$font-medium: 500;
$font-bold: 700;

$dark-grey: #545454;
$light-grey: #e5e5e5;
$de-background: #f7f7f7;
$de-blue: #002677;
$de-pink: #e10098;

$de-light-blue: #72c7e7;
$de-baby-blue: #b9e6eb;
$de-dark-blue: #006da3;
$de-grey: #f5f5f5;
$de-green: #1de9b6;
$de-yellow: #ffd740;
$de-purple: #b388ff;
$white: #fff;
$de-divider: 1px solid $light-grey;

$image-hover: url('../images/DottedOverlay.svg');

/* Body */

body {
  background-color: $de-background;
  font-family: $dinosaur;
  color: $dark-grey;

  *, *:focus {
    outline: none !important;
  }

  .main {
    background-color: $de-background;

    section,
    aside {
      margin: 3rem 0;
    }
  }
}

a {
  cursor: pointer;
  color: $de-pink;
}

a.email-link,
a.email-link:hover,
a.email-link:visited {
  color: $dark-grey;
}

a:hover {
  text-decoration: none;
  color: $de-pink;
}

p {
  font-family: $mukta;
  font-size: 16px;
  margin-bottom: 0;

  strong {
    font-weight: $font-medium;
  }
}

ul {
  font-family: $mukta;

  li {
    padding: 0;
  }
}


/* Pagination */

nav[aria-label='Page navigation'] {
  margin: 2rem 0;
  ul.pagination {
    li.active {
      span {
        background-color: $de-pink;
        border-color: $de-pink;
      }
    }
  }
}

/* Webcomic Reader Navbar */

.translate-up {
  transform: translateY(-80px);
  transition: 0.5s;
}

.translate-down {
  transform: translateY(80px);
  transition: 0.5s;
}

/* Headings */

h1,
h2 {
  font-family: $dinosaur;
  text-transform: uppercase;
  color: $de-blue;
  margin-bottom: 1rem;
  font-style: normal;
}

h3,
h4,
h6 {
  font-family: $dinosaur;
  text-transform: uppercase;
  color: $de-blue;
  margin-bottom: 1rem;
  font-style: normal;
}

h1 {
  font-size: 30px;
  font-style: normal;
}

h2 {
  font-size: 24px;
  font-style: normal;
}

h3 {
  font-size: 22px;
  font-style: normal;
}

h4 {
  font-size: 18px;
  font-style: normal;
}

h5 {
  font-family: $dinosaur;
  font-weight: bold;
  text-transform: none;
  color: $de-blue;
  margin-bottom: 1rem;
}

p {
  word-wrap: break-word;
}

/* Section */

section {
  margin: 2rem 0;

  .section-title {
    margin-top: 1rem;

    h1 {
      color: $de-blue;
    }
  }
}

section.border-top {
  border-top: $de-divider;
}

/* 100pct width */

.w-100 {
  width: 100%;
}

/* Webcomic Single Page */

.sidebar {
  border-left: $de-divider;
  padding: 0 0 0 1rem;
}


/* Share Buttons On Single Post Pages */

.share-buttons {
  background: none;
  border: 0;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  ul li {
    width: 40px;
    height: 40px;
    text-align: center;

    a {
      color: $de-pink;
      font-size: 16px;
      margin: auto;

      &:hover {
        color: $de-pink;
      }
    }
  }

  &.share-buttons--fix {
    position: sticky;
    top: 110px;
    z-index: 2;
    transition: ease-out;
  }
}

/* Home Carousel */

section.section-carousel {
  margin-top: 2rem;
  border: 0;

  .home-carousel {
    .carousel-indicators {
      position: relative;
      bottom: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .carousel-indicators li {
      width: 10px;
      height: 10px;
      background-color: $de-background;
      border: 1px solid $de-blue;
      border-radius: 100%;
      cursor: pointer;
    }

    .carousel-indicators li.active {
      background-color: $de-blue;
      border: 1px solid $de-blue;
    }

    .carousel-bottom {
      background-color: $de-pink;
      height: 52px;
      overflow: hidden;

      .carousel-control {
        margin: 0.8rem 0;
      }

      .carousel-control-icon {
        color: white;
        font-size: 20px;
      }

      .carousel-title {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;

        a {
          font-family: $dinosaur;
          color: white;
          font-size: 24px;
          text-transform: uppercase;
        }
      }
    }
  }
}



/* Navbar */
@import "components/navbar";

/* Input Forms & Button */
@import 'components/input';

/* Web Comics */
@import 'components/webcomics';

/* Webcomics Chapter */
@import 'components/webcomics-chapter';

/* Blog */
@import 'components/blog';

/* For Educators */
@import 'components/for-educators';

/* About Page */
@import 'components/about';

/* Footer */
@import 'components/footer';


/* Contact Us Page */

section.section-contact {
  font-family: $mukta;

  .contact-item {
    i {
      color: $de-pink;
    }
  }

  .contact-us-social {
    border-top: $de-divider;
    border-bottom: $de-divider;

    .contact-us-social-body {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* Related Post */

section.related-post {
  border-top: $de-divider;
  margin: 3rem 0;

  .row {
    margin-top: 1rem;
  }
  .related-post-card {
    .related-post-image {
      display: block;
      width: 100%;
      position: relative;
      height: 0;
      padding: 71.43% 0 0 0;
      overflow: visible;
      margin-bottom: 20px;
    }

    .related-post-image:after {
      content: '';
      color: $de-pink;
      position: absolute;
      height: 103%;
      width: 80%;
      border: 0;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-style: solid;
      top: 0;
      right: -8px;
    }

    .related-post-cover {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .related-post-image-hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .related-post-image-hover:hover {
      background: $image-hover;
      transition: 1s ease;
    }

    .related-post-title a,
    .related-post-title a:hover,
    .related-post-title a:visited {
      color: $de-blue;
    }
  }
}

/* Font Awesome */

.fa-stack-1x {
  font-size: smaller;
}


/* Responsive Breakpoints */

@media (max-width: 991px) {

  /* Webcomic Single Page */
  .sidebar {
    border-left: 0;
    padding: 0;
  }
}


/*
 * Restore Bootstrap 3 "hidden" utility classes.
*/

/* Breakpoint XS */
@media (max-width: 575px)
{
  .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
  .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up,
  .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
  .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
  .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
  .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
  {
    display: none !important;
  }
}