/* Footer */

.footer {
  margin-top: 3rem;

  .footer-text {
    p {
      font-family: $mukta;
      margin-bottom: 1rem;
    }
  }

  .footer-copyright {
    margin: 2rem 0;

    p {
      font-family: $mukta;
      font-size: 14px;
    }
  }
}

/* Return to top button */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background: $de-pink;
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  bottom: 30px;
}

#return-to-top i {
  color: $white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Subscribe Contact Form */
div.wpcf7-response-output {
  margin: 2rem 0;
  padding: 0;
  border: 0;
}