/* For Educators Section */

section.section-for-educators {
  p {
    margin-bottom: 1rem;
  }

  .for-educators-card {
    margin: 20px 0;
  }

  .for-educators-read-all {
    margin-top: 1rem;
    font-family: $dinosaur;

    a {
      i {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    a:hover {
      i {
        position: relative;
        transform: translateX(6px);
        -webkit-transform: translateX(6px);
      }
    }
  }

  .for-educators-image {
    position: relative;
    height: 200px;
    overflow: visible;
    margin-bottom: 20px;
  }

  .for-educators-image:after {
    content: '';
    color: $de-pink;
    position: absolute;
    height: 103%;
    width: 80%;
    border: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    top: 0;
    right: -8px;
  }

  .for-educators-cover {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .for-educators-image {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 71.43% 0 0 0;
    overflow: visible;
  }

  .for-educators-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: $image-hover;
    opacity: 0;
  }

  .for-educators-image-hover:hover {
    opacity: 0.5;
    transition: 0.5s ease;
  }

  .for-educators-body {
    .for-educators-title {
      a,
      a:hover,
      a:visited {
        color: $de-blue;
      }
    }

    .for-educators-text {
      font-family: $mukta;
      font-size: 16px;
    }

    .for-educators-read a {
      color: $de-pink;
      font-family: $dinosaur;
    }
  }
}

section.section-for-educators-single {
  border: 0;
  padding: 0 1.5rem;

  .post-heading {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  p {
    font-family: $mukta;
    margin-bottom: 1rem;
  }
}
