/* Social & Search Bar */

header.main-header {
  background-color: $de-background;
  color: $de-pink;

  .list-inline {
    margin-bottom: 0;
    margin-right: 0;
  }

  .subnav-links,
  .subnav-links a {
    color: $de-pink;
    padding: 0.5rem 0;
    text-align: right;
  }
}

/* Naigation Menu */

.navbar-wrapper {
  background-color: $de-background;
  margin-bottom: 25px;

  .navbar-desktop {
    padding: 0;

    div {
      padding: 0;
    }

    .navbar-brand {
      img {
        max-height: 70px;
      }
    }

    .navbar-nav {
      height: 73px;
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;

      .nav-item {
        margin-top: auto;
        margin-bottom: auto;
        height: 65px;

        a {
          font-size: 14px;
          color: $de-blue;
          font-family: $dinosaur;
          font-weight: $font-medium;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 0.9rem 1.5rem 0.5rem 1.5rem;
          height: 65px;
        }

        a:hover {
          padding-top: 0.9rem;
          color: $de-pink;
          background-image: url(../images/MenuFrame.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center -5px;
          overflow: visible;
          height: 65px;
        }
      }

      .active > .nav-link, .show > .nav-link, .nav-link:focus {
        padding-top: 0.9rem;
        color: $de-pink;
        background-image: url("../images/MenuFrame.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center -5px;
        overflow: visible;
        height: 65px;
      }

      .dropdown-menu {
        background-color: $de-light-blue;
        border: 0;
        border-radius: 0;
        margin: 0;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: $de-background;
    display: none;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar {
      .navbar-brand {
        img {
          max-height: 70px;
          padding: 0.3rem 0;
        }

        .sticky-logo {
          display: inline-block !important;
        }
      }
    }
  }

  .navbar-mobile {
    padding: 0;

    div {
      padding: 0;
    }

    .navbar-brand {
      img {
        max-height: 70px;
        padding: 0.3rem 0;
      }
    }

    .mobile-search {
      margin-top: 1rem;
    }

    .hamburger {
      background-color: $de-background;
      display: inline-block;
      cursor: pointer;
      border: 0;
      margin: 0;

      .hamburger-box {
        width: 30px;
        height: 20px;
        display: inline-block;
        position: relative;
      }

      .hamburger-inner {
        display: block;
        top: 50%;

        &,
        &:before,
        &:after {
          position: absolute;
          background-color: $de-blue;
          width: 30px;
          height: 5px;
          border-radius: 1rem;
        }

        &:before,
        &:after {
          content: "";
          display: block;
        }

        &:before {
          top: -10px;
        }

        &:after {
          bottom: -10px;
        }
      }
    }

    .hamburger--spin {
      .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &:before {
          transition: top 0.1s 0.25s ease-in,
          opacity 0.1s ease-in;
        }

        &:after {
          transition: bottom 0.1s 0.25s ease-in,
          transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
      }

      &.is-active {
        .hamburger-inner {
          transform: rotate(225deg);
          transition-delay: 0.12s;
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

          &:before {
            top: 0;
            opacity: 0;
            transition: top 0.1s ease-out,
            opacity 0.1s 0.12s ease-out;
          }

          &:after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.1s ease-out,
            transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
          }
        }
      }
    }

    .navbar-collapse {
      height: 100vh;
    }

    .navbar-nav {
      width: 100%;
      background-color: $de-background;
      margin-top: .5rem;
      margin-bottom: auto;
      padding: 0;
      border-top: $de-divider;

      .nav-item {
        -webkit-box-flex: 0;
        flex: 0;
        text-align: left;

        a {
          font-size: 14px;
          color: $de-blue;
          font-family: $dinosaur;
          font-weight: $font-medium;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 0.9rem 0 0.5rem 0R;
        }

        a:hover {
          color: $de-pink;
        }
      }

      .active > .nav-link, .show > .nav-link, .nav-link:focus {
        color: $de-pink;
      }
    }

    .mobile-social-url {
      margin-top: .5rem;
      border-top: $de-divider;

      ul {
        margin: .5rem 0;
      }

      li:not(:first-child) {
        margin: 0 1rem;
      }
    }
  }
}

.navbar-wrapper.sticky {

  .navbar-mobile {
    padding-left: 1rem;
    padding-right: 2.7rem;
  }
}