/* Webcomics Section */

section.section-webcomics {
  p {
    margin-bottom: 1rem;
  }

  .webcomics-card {
    margin: 20px 0;
  }

  .webcomics-read-all {
    font-family: $dinosaur;
    margin-top: 1rem;

    a {
      i {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    a:hover {
      i {
        position: relative;
        transform: translateX(6px);
        -webkit-transform: translateX(6px);
      }
    }
  }

  .webcomics-image {
    position: relative;
    height: 200px;
    overflow: visible;
    margin-bottom: 20px;
  }

  .webcomics-image:after {
    content: '';
    color: $de-pink;
    position: absolute;
    height: 104%;
    width: 80%;
    border: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    top: 0;
    right: -8px;
  }

  .webcomics-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .webcomics-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    //z-index: 5;
  }

  .webcomics-image-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    background: $image-hover;
    opacity: 0;
  }

  .webcomics-image-hover:hover {
    opacity: 0.5;
    transition: 0.5s ease;
  }

  .webcomics-body {
    .webcomics-title {
      a {
        color: $de-blue;
      }
    }

    .webcomics-text {
      font-family: $mukta;
      font-size: 16px;
    }

    .webcomics-read {
      a {
        font-family: $dinosaur;
        color: $de-pink;

        i {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }

      a:hover {
        i {
          position: relative;
          transform: translateX(6px);
          -webkit-transform: translateX(6px);
        }
      }
    }
  }
}

/* Single Webcomic */

.webcomic-banner-cover {
  height: 10em;
  width: 100%;
  overflow: hidden;

  .webcomic-banner-image {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
  }
}

section.section-webcomic-single {
  p {
    margin-bottom: 1rem;
  }
}

.webcomic-chapters-wrapper {
  p {
    margin-bottom: 1rem;
  }

  .webcomic-chapter:first-child {
    border-top: $de-divider;
  }
  .webcomic-chapter {
    border-bottom: $de-divider;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    .chapter-cover {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .chapter-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .chapter-body {
      padding-left: 1rem;
      padding-top: 1rem;

      .webcomic-title {
        .chapter-no {
          color: $dark-grey;
          font-family: $mukta;
          font-size: 16px;
        }

        .chapter-title {
          font-size: 18px;
        }
      }

      .chapter-read {
        font-family: $dinosaur;
        margin-top: 1.1rem;

        a {
          i {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }

        a:hover {
          i {
            position: relative;
            transform: translateX(6px);
            -webkit-transform: translateX(6px);
          }
        }
      }
    }
  }
}

/* Breakpoint SM */

@media (max-width: 991px) {
  /* Single Webcomic */

  .webcomic-chapters-wrapper {
    .webcomic-chapter {
      .chapter-body {
        padding-left: 0;
      }
    }
  }
}
